body {
    font-family: 'Podkova', serif;
    background: #f0f0f0;
    padding: 20px;
  }
  .controls {
    margin-bottom: 20px;
  }
  .controls input {
    margin: 5px;
    padding: 8px;
  }
  .template {
    width: 1080px;
    height: 1080px;
    background: #03624c;
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 0 auto;
  }

  .car-image {
    /* position: absolute; */
    /* top: 220px; */
    /* left: 0; */
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  .ellipse {
    position: absolute;
    width: 1080px;
    height: 372px;
    border-radius: 50%;
    background: #fffbdf14;
    
    left: 50%;           /* center horizontally */
    bottom: -186px;      /* half of height negative, pushes half outside parent */
    transform: translateX(-50%);
  }
  .footer {
    position: absolute;
    bottom: 24px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #03624c;
  }
  .download-btn {
    margin-top: 10px;
    padding: 10px 15px;
    background: #03624c;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
  }
  h2 {
    margin: 40px 0 20px;
  }